@using PagedList;
@using PagedList.Mvc;
@model IPagedList<OnlineLearningSystem.Models.School>

@{
    ViewBag.Title = "School";
    Layout = "~/Views/Shared/SuperAdmin.cshtml";
}
<script>
    $('.schoolview').css('background', 'linear-gradient(45deg, #b2d01a 0%,#b2d01a 100%)');
    $('.schoolview').css('border-radius', '20px');
    $('.schoolview').css('color', 'black');
    $('.schoolview').css("box-shadow", "10px 10px 12px #888888");
</script>
<button class="btn btn-danger" id="addschoolmodal" data-toggle="modal" data-target="#myModaladdSchool">Add School</button>
<hr />
@*add school*@
<div id="successmessage">@ViewBag.message</div>
<div id="myModaladdSchool" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add School</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <div id="messageDisplay"></div>
                    <li class="list-group-item listtopBorder ">
                        <div class="row">
                            <div id="messageAddTeacher"></div>
                            <div class="col-lg-12" style="margin:2px">
                                <label class="col-lg-4 ">School Name</label>
                                <div class="col-lg-8">@Html.TextBox("schoolname", null, new { @class = "form-control input-sm col-lg-8" })</div>
                                <div class="correctuser"><img src="~/Content/images/correct.png" style="margin-top:-25px;margin-right:-10px;width:20px;height:20px;float:right" /></div>
                                <div class="wronguser "><img src="~/Content/images/wrong.png" style="margin-top:-25px;margin-right:-10px;width:20px;height:20px;float:right" /></div>
                            </div>
                            <div class="col-lg-12" style="margin:2px">
                                <label class="col-lg-4">Location</label>
                                <div class="col-lg-8">@Html.TextBox("location", null, new { @class = "form-control input-sm col-lg-8" })</div>
                            </div>
                            <div class="col-lg-12" style="margin:2px">
                                <label class="col-lg-4">Contact</label>
                                <div class="col-lg-8">@Html.TextBox("contact", null, new { @class = "form-control input-sm col-lg-8" })</div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" id="addschool">Add School</button>
                <button class="btn btn-default closemodal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*list school*@
<ul class="list-group">
    <li class="list-group-item listtopBorder">
        <div class="row">
            <div class="col-lg-2">Id</div>
            <div class="col-lg-3">SchoolName</div>
            <div class="col-lg-3">Location</div>
            <div class="col-lg-2">Contact</div>
            <div class="col-lg-2 wrapper">
                @*get request for searching*@
                @using (Html.BeginForm("SchoolView", "School", FormMethod.Get))
                {
                    @Html.TextBox("search", null, new { placeholder = "Search", @class = "glyphicon glyphicon-search ", style = "widht:120px;border-radius:12px;text-align:center;padding:3px" });
                }


            </div>
        </div>
    </li>
    @foreach (var school in Model)
    {
        <li class="list-group-item listInformation">
            <div class="row">
                <div class="col-lg-2" class="schoolid">@school.id</div>
                <div class="col-lg-3" class="schoolname">@school.SchoolName</div>
                <div class="col-lg-3" class="location">
                    @school.Location

            </div>
            <div class="col-lg-2" class="contact">@school.Contact</div>
            <div class="col-lg-2">
                <div class="col-lg-3 addadmin">
                    <a href="@Url.Action("Addschooladmin", "SuperAdmin", new { schoolid = @school.id })">
                        <img src="~/Content/images/add_user.png" width="20px" height="27px" title="Add admin for school" />
                    </a>
                </div>
                <div class="col-lg-3 msgsuperImg" data-toggle="modal" data-target="#myModalMessageCompose">
                    <img src="~/Content/images/message.png" width="25px" height="25px" title="View" />
                </div>
                <div class="col-lg-3 editImg">
                    <a href="@Url.Action("EditSchool", "SuperAdmin", new { id = @school.id })">
                        <img src="~/Content/images/edit.png" width="25px" height="25px" title="Edit" />
                        </a>
</div>
                <div class="col-lg-3 dltSchoolImg">
                    <button class="btn btn-danger dltImg" data-toggle="modal" data-target="#myModalDeleteSchool" style="text-align:center;width:35px;height:35px">
                        <img src="~/Content/images/delete.png" width="25px" height="25px" title="Delete" style="margin-left:-8px;margin-top:-2px" />
                    </button>
                </div>
            </div>
        </div>
    </li>
    }




</ul>

@*message section*@
<div id="myModalMessageCompose" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Compose Message</h4>
            </div>

            <div class="modal-body">
                <div id="errorMsg" class="errorMessage"></div>
                <ul class="list-group">
                    <li class="list-group-item listtopBorder ">
                        <div class="row">
                            <div class="pull-left" style="margin:0px 10px">Message Subject</div>

                        </div>
                    </li>
                    <li class="list-group-item ">

                        @Html.Label("Message sending to Id:")
                        @*id is taken out from jquery dom element*@
                        @Html.Hidden("receiver", null, new { @class = "form-control input-sm col-lg-8", name = "receiver" }) <br />
                        @Html.TextBox("message_subject", null, new { @class = "form-control input-sm col-lg-8", name = "message_subject", placeholder = "Subject" })<br />
                        @Html.TextArea("message_body", null, new { @class = "form-control input-sm col-lg-8", name = "message", placeholder = "Message" })<br />
                        @Html.Hidden("usertype", "schooladmin")
                        @*hidden usertype is added as usertype is set as required*@

                        <button class="btn btn-success" id='sendMessage'>Send</button>
                    </li>
                </ul>



            </div>

            <div class="modal-footer">

                <button class="closemodal hidden" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@*confirm dialog*@
<button class="col-lg-3 confirmBox hidden" data-toggle="modal" data-target="#myModalDone"></button>
<div id="myModalDone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content confirmdialogbox">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align:center">
                    <b>Successfully updated</b>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success refreshbutton">OK</button>
            </div>


        </div>
    </div>
</div>

<div id="myModalDeleteSchool" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Teacher</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align:center">
                    Are you sure you want to delete <b id="schoolname"></b> ???<br />
                    ID :<b id="schoolid"></b>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="deleteselectedSchool">Delete school</button>
                <button class="btn btn-default closemodal" data-dismiss="modal">Close</button>
            </div>


        </div>
    </div>
</div>

<ul class="pagination pull-right">
    @*pagination template
        making sure that pagination works fine while searching too so added url parameter and also added ellipse*@
    @Html.PagedListPager(Model, page => Url.Action("School", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions() { DisplayEllipsesWhenNotShowingAllPageNumbers = true, DisplayItemSliceAndTotal = true, MaximumPageNumbersToDisplay = 3, DisplayPageCountAndCurrentLocation = true })
</ul>