@using PagedList;
@using PagedList.Mvc;
@model IEnumerable<OnlineLearningSystem.Models.Assignments>
@{
    ViewBag.Title = "AssignmentView";
    Layout = "~/Views/Shared/Student.cshtml";
}

<script>
    $('.assignmentview').css('background', 'linear-gradient(45deg, #b2d01a 0%,#b2d01a 100%)');
    $('.assignmentview').css('border-radius', '20px');
    $('.assignmentview').css('color', 'black');
    $('.assignmentview').css("box-shadow", "10px 10px 12px #888888");
</script>

<ul class="list-group">
    <li class="list-group-item listtopBorder">
        <div class="row">
            <div class="col-lg-4">Assignment Name</div>
            <div class="col-lg-1">Assign.ID</div>
            <div class="col-lg-2">Assign Date</div>
            <div class="col-lg-2">End Date</div>
            <div class="col-lg-3">

            </div>
        </div>
    </li>
    @foreach (var assignment in Model)
    {
        <li class="list-group-item listInformation">
            <div class="row">
                <div class="col-lg-4">@assignment.name</div>
                <div class="col-lg-1">@assignment.id</div>
                <div class="col-lg-2">@assignment.startdate</div>
                <div class="col-lg-2">@assignment.enddate</div>
                <div class="col-lg-2">
                    <div class="col-lg-4 " data-toggle="modal" data-target="#myModalUpload">
                        <img src="~/Content/images/download_icon.png" width="25px" height="25px" title="Download" />
                    </div>
                    <div class="col-lg-4">
                        <a href="@Url.Action("Downloads", "Teacher", new {id = assignment.name })">
                            <img src="~/Content/images/view.png" width="25px" height="25px" title="View" />
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="@Url.Action("AssignStudents", "Teacher", new { assignmentid = @assignment.id })">
                            <img src="~/Content/images/submit.png" width="25px" height="25px" title="Submit" />
                        </a>
                    </div>

                </div>
            </div>
        </li>
    }


</ul>





