@using PagedList;
@using PagedList.Mvc;
@model IPagedList<OnlineLearningSystem.Models.Assignments>
@{
    ViewBag.Title = "AssignmentView";
    Layout = "~/Views/Shared/Student.cshtml";
}

<script>
    $('.assignmentview').css('background', 'linear-gradient(45deg, #b2d01a 0%,#b2d01a 100%)');
    $('.assignmentview').css('border-radius', '20px');
    $('.assignmentview').css('color', 'black');
    $('.assignmentview').css("box-shadow", "10px 10px 12px #888888");
</script>
<div class="col-lg-12">@ViewBag.message</div>
<ul class="list-group">
    <li class="list-group-item listtopBorder">
        <div class="row">
            <div class="col-lg-4">Assignment Name</div>
            <div class="col-lg-1">Assign.ID</div>
            <div class="col-lg-2">Assign Date</div>
            <div class="col-lg-2">End Date</div>
            <div class="col-lg-3">

            </div>
        </div>
    </li>
    @foreach (var assignment in Model)
    {
        <li class="list-group-item listInformation">
            <div class="row">
                <div class="col-lg-4" id="@assignment.id">@assignment.name</div>
                <div class="col-lg-1" >@assignment.id</div>
                <div class="col-lg-2">@assignment.startdate</div>
                <div class="col-lg-2">@assignment.enddate</div>
                <div class="col-lg-2">
                    <div class="col-lg-4 " data-toggle="modal" data-target="#myModalUpload">
                        <img src="~/Content/images/download_icon.png" width="25px" height="25px" title="Download" />
                    </div>
                    <div class="col-lg-4">
                        <a href="@Url.Action("AssignmentViewDetail", "Student", new {id = assignment.name })">
                            <img src="~/Content/images/view.png" width="25px" height="25px" title="View" />
                        </a>
                    </div>
                    <div class="col-lg-4 summitedAssignment" data-toggle="modal" data-target="#submitassignment">
                        <img src="~/Content/images/submit.png" width="25px" height="25px" title="Submit" />

                    </div>

                    </div>
            </div>
        </li>
    }


</ul>

<div id="submitassignment" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure ?</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <div class="invisible assignmentID"></div> 
                    <b style="text-align:center">Once submitted assignment cannot be undo/edited. Are you sure you wana submit your assignment:<i class="assignmentName"></i></b><br /><br />
                    <button class="btn btn-danger" id="confirmsubmitassignment">Submit</button>
                    <button class="btn btn-default closemodal" data-dismiss="modal">Close</button>
                </ul>

            </div>
        </div>


    </div>


</div>
<ul class="pagination pull-right">
    @*pagination template
        making sure that pagination works fine while searching too so added url parameter and also added ellipse*@
    @Html.PagedListPager(Model, page => Url.Action("AssignmentView", new { page }), new PagedListRenderOptions() { DisplayEllipsesWhenNotShowingAllPageNumbers = true, DisplayItemSliceAndTotal = true, MaximumPageNumbersToDisplay = 3, DisplayPageCountAndCurrentLocation = true })
</ul>


