@using PagedList;
@using PagedList.Mvc;
@model IPagedList<OnlineLearningSystem.Models.user_info>

@{
    ViewBag.Title = "TeacherView";
    Layout = "~/Views/Shared/Student.cshtml";
}
<script>
    $('.teacherview').css('background', 'linear-gradient(45deg, #b2d01a 0%,#b2d01a 100%)');
    $('.teacherview').css('border-radius', '20px');
    $('.teacherview').css('color', 'black');
    $('.teacherview').css("box-shadow", "10px 10px 12px #888888");
</script>


<div id="message" style="color:#ff006e;font-size:15px"></div>
<ul class="list-group">
    <li class="list-group-item listtopBorder">
        <div class="row">
            <div class="col-lg-2">FirstName</div>
            <div class="col-lg-2">LastName</div>
            <div class="col-lg-2">Username</div>
            <div class="col-lg-2">Course</div>
            <div class="col-lg-2">Course duration</div>
            <div class="col-lg-2">

            </div>
        </div>
    </li>
@foreach (var item in Model.Where(m1 => m1.id != 0))
    {
    <li class="list-group-item listInformation">
        <div class="row">
            <div class="col-lg-2">@item.firstName</div>
            <div class="col-lg-2">@item.lastName</div>
            <div class="col-lg-2" id="@item.id">@item.username</div>
            <div class="col-lg-2">@item.schoolid</div>
            <div class="col-lg-2">4</div>
            <div class="col-lg-2">
                <div class="col-lg-4 msgstdImg" data-toggle="modal" data-target="#myModalMessageCompose">
                    <img src="~/Content/images/message.png" width="20px" height="27px" title="Message" />
                </div>
                <div class="col-lg-4">
                    <img src="~/Content/images/review.png" width="25px" height="25px" class="review" title="Review Teacher" />
                </div>
                <div class="col-lg-4 viewstudentImg" data-toggle="modal" data-target="#myModalViewStudent">
                    <img src="~/Content/images/view.png" width="25px" height="25px" title="View" />
                </div>


            </div>
        <div class="row ratingreview hidden">
            Give a stars to your mentor
            <div class="col-lg-12 icon-star  rating">
                <div title="1 stars" id="1" class="stars">
                    <img src="~/Content/images/ratingicon.png" width="30px" height="30px" />
                </div>
                <div title="2 stars" id="2" class="stars">
                    <img src="~/Content/images/ratingicon.png" width="30px" height="30px" />
                </div>
                <div title="3 stars" id="3" class="stars">
                    <img src="~/Content/images/ratingicon.png" width="30px" height="30px" />
                </div>
                <div title="4 stars" id="4" class="stars">
                    <img src="~/Content/images/ratingicon.png" width="30px" height="30px" />
                </div>
                <div title="5 stars" id="5" class="stars">
                    <img src="~/Content/images/ratingicon.png" width="30px" height="30px" />
                </div>
            </div>

        </div>
    </li>
}

</ul>
<div id="myModalMessageCompose" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Compose Message</h4>
            </div>

            <div class="modal-body">
                <div id="errorMsg" class="errorMessage"></div>
                <ul class="list-group">
                    <li class="list-group-item listtopBorder ">
                        <div class="row">
                            <div class="pull-left" style="margin:0px 10px">Message Subject</div>

                        </div>
                    </li>
                    <li class="list-group-item ">

                        @Html.Label("Message sending to Id:")
                        @*id is taken out from jquery dom element*@
                        @Html.Hidden("receiver", null, new { @class = "form-control input-sm col-lg-8", name = "receiver" }) <br />
                        @Html.TextBox("message_subject", null, new { @class = "form-control input-sm col-lg-8", name = "message_subject", placeholder = "Subject" })<br />
                        @Html.TextArea("message_body", null, new { @class = "form-control input-sm col-lg-8", name = "message", placeholder = "Message" })<br />
                        @Html.Hidden("usertype", "none")
                        @*hidden usertype is added as usertype is set as required*@

                        <button class="btn btn-success" id='sendMessage'>Send</button>
                    </li>
                </ul>



            </div>

            <div class="modal-footer">

                <button class="closemodal hidden" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<button class="col-lg-3 confirmBox hidden" data-toggle="modal" data-target="#myModalDone"></button>
<div id="myModalDone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content confirmdialogbox">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align:center">
                    <b>Successfully updated</b>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success refreshbutton">OK</button>
            </div>


        </div>
    </div>
</div>

<div id="myModalViewStudent" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View Teacher</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item listtopBorder ">
                        <div class="row">
                            <div id="messageAddTeacher"></div>
                            <div class="col-lg-12" style="margin:2px">
                                <label class="col-lg-4 ">Student Firstname</label>
                                <div class="col-lg-8">@Html.TextBox("viewFn", null, new { @class = "form-control input-sm col-lg-8" })</div>
                                @Html.Hidden("viewId")
                                @Html.Hidden("viewPwd")
                            </div>
                            <div class="col-lg-12" style="margin:2px">
                                <label class="col-lg-4">Student Lastname</label>
                                <div class="col-lg-8">@Html.TextBox("viewLn", null, new { @class = "form-control input-sm col-lg-8" })</div>
                            </div>
                            <div class="col-lg-12" style="margin:2px">
                                <label class="col-lg-4">Student Username</label>
                                <div class="col-lg-8">@Html.TextBox("viewUn", null, new { @class = "form-control input-sm col-lg-8" })</div>

                            </div>
                            <div class="col-lg-12" style="margin:2px">
                                <label class="col-lg-4">Student Schoolid</label>
                                <div class="col-lg-8">@Html.TextBox("viewSid", Int32.Parse(Session["loggedinuserschoolid"].ToString()), new { @class = "form-control input-sm col-lg-8", name = "schoolid" })</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default closemodal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
