@model IEnumerable<OnlineLearningSystem.Models.Assignments>
@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="list-group">
    @foreach (var a in Model)
    {
        <li class="list-group-item ">
            <div class="row">
                <label class="col-lg-4 ">Assignment Title</label>
                <div class="col-lg-8">@a.name</div>

            </div>

        </li>
        <li class="list-group-item ">
            <div class="row">
                <label class="col-lg-4 ">Description</label>
                <div class="col-lg-8">@a.description</div>
            </div>
        </li>

        <li class="list-group-item ">
            <div class="row">
                <label class="col-lg-4 ">Question 1</label>
                <div class="col-lg-8">@a.Question1</div>
            </div>
        </li>
        <li class="list-group-item ">
            <div class="row">
                <label class="col-lg-4 ">Question 2</label>
                <div class="col-lg-8">@a.Question2</div>
            </div>
        </li>
        <li class="list-group-item ">
            <div class="row">
                <label class="col-lg-4 ">Question 3</label>
                <div class="col-lg-8">@a.Question3</div>
            </div>
        </li>
        <li class="list-group-item ">
            <div class="row">
                <label class="col-lg-4 ">Question 4</label>
                <div class="col-lg-8">@a.Question4</div>
            </div>
        </li>
        <li class="list-group-item ">
            <div class="row">
                <label class="col-lg-4 ">Question 5</label>
                <div class="col-lg-8">@a.Question5</div>
            </div>
        </li>
    }
    <li class="list-group-item ">
        <div class="row">
            <label class="col-lg-4 ">Resources Link</label>
            <div class="col-lg-8">
                @foreach (var ab in ViewBag.files)
                {
                    <ul>
                        <li>@ab  @Html.ActionLink("Downloads", "Download", new { ImageName = ab })</li>
                    </ul>

                }
            </div>
        </div>

    </li>
</ul>
@Html.ActionLink("Back", "AssignmentView", "Teacher", new {@class="btn glyphicon glyphicon-arrow-left"})

