@model IEnumerable<OnlineLearningSystem.Models.message>

@{
    ViewBag.Title = "SentMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $('.messageview').css('background', 'linear-gradient(45deg, #b2d01a 0%,#b2d01a 100%)');
    $('.messageview').css('border-radius', '20px');
    $('.messageview').css('color', 'black');
    $('.messageview').css("box-shadow", "10px 10px 12px #888888");
</script>
<button class="btn spacing composeMessage ">@Html.ActionLink("Back", "MessageView")</button>
<button class="btn spacing pull-right">Sent Message</button>
<div class="pull-left" style="display:inline;margin:20px">
    @using (Html.BeginForm("SentMessage", "Teacher", FormMethod.Get))
    {
        <button class="btn glyphicon glyphicon-search pull-right"></button>
        <input type="text" class="form-control input-sm" id="search" name="search" style="width:150px;">
    }

</div>
<ul class="list-group">
    <li class="list-group-item listtopBorder " data-toggle="modal" data-target="#myModal">

        <div class="row">
            <div class="col-lg-2">Date</div>
            <div class="col-lg-3">@Html.ActionLink("To", "SentMessage", new { sortBy = ViewBag.sortByParam, search = Request.QueryString["search"] }, new { id = "reciever" })</div>
            <div class="col-lg-7">Subject</div>
    </li>
    @foreach (var message in Model)
    {
        <li class="list-group-item  listInformation">
            <div class="row">
                <div class="col-lg-2 msgDate">@message.sentdate</div>
                <div class="col-lg-3 msgSender">@message.receiver_name</div>
                <div class="col-lg-7 msgBody" title="@message.message_body">@message.message_subject</div>

            </div>
        </li>
    }

</ul>
